<div class="autocomplete" [class.disabled]="loading">
  <input type="text" [(ngModel)]="searchText" [disabled]="loading" (ngModelChange)="onSearchTextChange()" (focus)="dropdownOpenChange.emit(true)" (blur)="dropdownOpenChange.emit(false)">
  <ul *ngIf="filteredOptions as results">
    <li *ngFor="let option of results" (click)="selectOption(option)">
      <ng-container *ngTemplateOutlet="customOptionTemplate || defaultOption; context: {$implicit: option}"></ng-container>
    </li>
  </ul>
  <ng-container *ngIf="loading" [ngTemplateOutlet]="loadingTemplate"></ng-container>
  <ng-container *ngIf="filteredOptions.length === 0 && !loading" [ngTemplateOutlet]="emptyPlaceholder"></ng-container>
  <ng-template #defaultOption let-option>{{ option }}</ng-template>
  <ng-template #loadingTemplate>Loading...</ng-template>
  <ng-template #emptyPlaceholder>No options available.</ng-template>
</div>
